.counter-wrapper {
    .counter {
        display: flex;

        .button,
        p {
            margin: 0;
        }

        p {
            line-height: 2.25rem;
            padding: 0 1rem;
        }
    }
}
