<header class="app-header">
  <img class="app-header__logo" src="img/a-logo.svg" alt="Officieel Logo Antwerpen">
  <h1 class="app-header__title">Demo Layout Renderer</h1>
  <button class="app-header__button a-button-transparent has-icon"><i class="fa fa-th-large"></i></button>
  <button class="app-header__button a-button-transparent has-icon"><i class="fa fa-bell"></i></button>
  <button class="app-header__button a-button-transparent has-icon"><i class="fa fa-user"></i></button>
</header>
<div class="u-container">
    <main>
        <router-outlet></router-outlet>
    </main>
</div>