$header-bg-color: #333;
$header-color: white;
$header-border-color: #CACACA;
$header-button-color: #D7D7D7;

body {
    display: flex;
    height: 100vh;
}

app {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.u-wrapper {
    flex: 1 1 auto;
}

html {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sun Antwerpen";
}

.app-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $header-bg-color;
    color: $header-color;
}

.app-header__logo {
    flex: 1 auto;
    height: 3.6rem;
    width: 3.6rem;
}

.app-header__title {
    flex: 1 100%;
    font-size: 1.35rem;
    font-weight: 600;
    padding: .5rem 1.5rem;
}

.app-header__button {
    flex: 1 auto;

    .fa {
        font-size: 1.2rem;
        color: $header-button-color;
    }
}
