<div class="home-page">
  <h2>Dossiers</h2>
  <ul>
    <li>SL - SL1234 - Wildplakken</li>
    <li *ngFor="let dossier of dossiers$ | async">{{dossier.type}} - {{dossier.dossierNr}} - {{dossier.subject}} - {{dossier.description}}</li>
  </ul>
  <hr>
  <div>
    <label for="dossierNr">Dossiernr</label>
    <input type="text" name="dossierNr" [(ngModel)]="dossierNr">
    <select [(ngModel)]="templateId">
      <option value="my-template-1.html">no type</option>
      <option value="sgw-template.html">SGW</option>
      <option value="et-template.html">ET</option>
    </select>
    <button type="button" (click)="loadTemplate()">Creëer</button>
  </div>
  <hr>
  <h3>[layout renderer content]</h3>
  <ng-template #lrContainer></ng-template>
</div>